// Common CSS
@import 'reset';
@import 'variable';

html,
body {
    font-size: 16px;
    max-width: 100vw;
    min-height: 100vh;
    background: linear-gradient(195.38deg, #64A8DF 19.85%, #F1EBD3 82.91%);
    font-family: 'Ramabhadra', sans-serif;
    color: $common-font-color;
}

.container {
    width: 60%;
    margin: 0 auto;
}

//nav area
nav {
    line-height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    a {
        color: #fff;
        text-decoration: none;
    }

    .brand {
        font-size: 1.5625rem;
    }


    .nav-item {

        ul {
            display: flex;
            justify-content: space-around;

            li {
                position: relative;
                padding: 0.3125em 1.5625em;
                line-height: 1.875rem;
                cursor: pointer;
                z-index: 1;

                a {
                    color: #fff;
                    transition: color 1s;
                }
            }

            li::after {
                position: absolute;
                content: "";
                display: block;
                z-index: -1;
                border-radius: 0.3125em;
                top: 0;
                left: 0;
                width: 100%;
                height: 0;
                background-color: #0e4d80;
                transition: height .5s;
            }

            li:hover::after {
                height: 100%;
            }


            li:hover a {
                color: $hover-color;
            }
        }

    }
}

//Main contant area
.main-contant {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.3125rem;
    margin-top: 3.125rem;

    .bio-area {
        .hello {
            background-color: $button-bg;
            font-size: 1rem;
            color: $button-hover-bg;
            width: 5.625rem;
            height: 2.5rem;
            text-align: center;
            line-height: 2.5rem;
            border-radius: 0.3125rem;

        }

        h2 {
            font-size: 2.5rem;
        }

        P {
            padding: 2.5rem 0;
            font-size: 1rem;

        }

        button {
            position: relative;
            background-color: $button-bg;
            color: $button-hover-bg;
            font-size: 1.125rem;
            cursor: pointer;
            z-index: 1;
            padding: 0.625em 1.5em;
            border-radius: 0.3125em;
            border: none;
            transition: color 1s;
        }

        button::after {
            position: absolute;
            content: "";
            display: block;
            z-index: -1;
            border-radius: 0.3125em;
            top: 0;
            left: 0;
            width: 0;
            height: 0;
            background-color: #8f9eaa50;
            transition: width .6s, height .6s;
        }

        button:hover::after {
            width: 100%;
            height: 100%;
        }



        button:hover {
            color: #102c4a8c;



        }
    }

    .social-link {
        font-size: 2rem;

        i {
            color: #fff;
            transition: color .8s;
        }
    }

    .fa-facebook:hover {
        color: #447399;
    }

    .fa-twitter:hover {
        color: #64A8DF;
    }

    .fa-instagram-square:hover {
        color: #CC2D78;
    }

    .fa-linkedin:hover {
        color: $button-hover-bg;
    }

    .fa-facebook-messenger:hover {
        color: #4674B8;
    }

    .fa-pinterest:hover {
        color: #CC2128;
    }

    .profile-img {
        grid-area: 1/2/span 2/3;

        img {
            width: 30rem;
            height: auto;
        }
    }

}